<meta charset="UTF-8">

<style type="text/css">
	.btn_active{
		background: #B0C4DE;
	}
	.mcy_body{
		width: 70%;
	}
	#system_home{
		margin-left: 100px;
		border-left: 1px solid #cdcdcd;
		padding-left: 20px;
	}
	.about{
		background: white;
		padding: 20px;
		margin-bottom: 40px;
		border-radius: 20px;
	}
	.about h2{
		border-left: 5px solid red;
		padding-left: 10px;
		font-size: 24px;
		margin-bottom: 20px;
	}
	.about p{
		padding-left: 30px;
	}
</style>
<div class="mcy_body">
	<div class="about">
		<h2>关于我</h2>
		<p>热爱开发</p>
		<p>目前学习了......</p>
		<p>后端学习了......</p>
		<p>数据库学了......</p>
	</div>
	<div class="about">
		<h2>联系我</h2>
		<p>可以通过以下方式联系我</p>
		<p>QQ：xxxxxx</p>
		<p>Email：xxxxxx@qq.com</p>
		<p>微信：xxxxxx</p>
		<p>码云：<a href=""></a></p>
		<p>CSDN：<a href=""></a></p>
	</div>
</div>
	